.profile {
    text-align: center;
    padding: 20px 0px;
    border-bottom: 1px solid #eee;
}

.profile>i {
    width: 150px;
    height: 150px;
    background-color: #eee;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    color: #fff;
    position: relative;
}

.profile>i>input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 50%;
    font-size: 0;
}

.profile>.myImage {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}


.profile>.myImage img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile>.myImage>input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 50%;
    font-size: 0;
}

.profile>h2 {
    margin-top: 20px;
    font-size: 20px;
}

.userInfo {}

.userInfo ul {
    display: flex;
    flex-direction: column;
}

.userInfo ul li {
    padding: 0px 15px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userInfo ul li div {
    display: flex;
    align-items: center;
    line-height: 50px;
    font-size: 18px;
}

.userInfo ul li div i {
    font-size: 18px;
    margin-right: 10px;
}

.userInfo ul li h3 {
    font-size: 18px;
    color: #aaa;
}

.profileImg {
    display: none;
}