.profile {
    text-align: center;
    padding: 20px 0px;
    border-bottom: 1px solid #eee;
}

.profile>i {
    width: 150px;
    height: 150px;
    background-color: #eee;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    color: #fff;
}

.profile>h2 {
    margin-top: 20px;
    font-size: 20px;
}

.userInfo {}

.userInfo ul {
    display: flex;
    flex-direction: column;
}

.userInfo ul li {
    padding: 0px 15px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userInfo ul li div {
    display: flex;
    align-items: center;
    line-height: 50px;
    font-size: 18px;
}

.userInfo ul li div i {
    font-size: 18px;
    margin-right: 10px;
}

.userInfo ul li h3 {
    font-size: 18px;
    color: #aaa;
}

.profileImg{
    display:none;
}