.group {}

.group>nav {
    display: flex;
}

.group>nav a {
    flex: 1;
    text-align: center;
    border-bottom: 1px solid #ccc;
    line-height: 40px;
}

.group>nav a:nth-child(1) {
    border-right: 1px solid #ccc;
}