.loginContainer{
    padding: 0px 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--main-color);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loginContainer > h2{
    font-size: 30px;
    text-align: center;
}

.loginContainer > form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin-top: 30px;
    gap: 10px;
    width: 100%;
}

.loginContainer > form > input{
    border: none;
    background-color: #fafafa;
    line-height: 40px;
    width: 95%;
    border-radius: 5px;
    padding: 5px 10px;
}

.loginContainer > form > button.buttonBlue{
    width: 95%;
    text-align: center;
    background-color: var(--bt-color-t1);
    color: #fff;
    line-height: 40px;
    border-radius: 5px;
    font-family: var(--main-font);
    cursor: pointer;
}

.loginContainer > form > .buttonGary{
    width: 95%;
    text-align: center;
    background-color: var(--bt-color-t2);
    line-height: 40px;
    border-radius: 5px;
    font-family: var(--main-font);
    cursor: pointer;
}

.loginContainer > form > .recover{
    font-size: 12px;
    color: #777;
}