.chat {
    width: 100%;
    height: calc(100vh - 43px - 50px);
    position: relative;
    background-color: #ece9ff;
}

.chat>ul {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    height: calc(100% - 50px);
}

.chat>ul>li {
    display: flex;
}

.chat>ul>li>div {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    max-width: 250px;
    line-height: 1.2;
}

.chat>ul>li.right {
    justify-content: start;
}

.chat>ul>li.left {
    justify-content: end;
}

.chat>ul>li.right>div {
    background-color: #fff;
}

.chat>ul>li.left>div {
    background-color: #ffeb33;
}

.chat>.submit {
    position: absolute;
    bottom: 0px;
    width: 100%;
    box-shadow: -1px 0px 2px #00000077;
}

.chat>.submit textarea {
    width: 100%;
    border: none;
    line-height: 1.2;
    height: 50px;
    padding: 10px 10px;
    resize: none;
}

.chat>.submit button {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    padding: 0px 20px;
    background-color: var(--bt-color-t1);
    height: 100%;
    font-family: var(--main-font);
}

.chat>.submit button i {
    font-size: 20px;
    color: #fff;
}